*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    background-color: black;
}

.top{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    z-index: 50;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px; 
}
div h1{
    color: white;
    font-size: 50px;
    margin: 0;
    padding: 0;
    line-height: 1.0;
}
div>h1:nth-child(2){
    word-spacing: 15px;
    font-variant: small-caps;
    color: rgb(230, 255, 194);

}

div p{
    color: rgb(240, 239, 214);
    width: 500px;
    font-size: 15px;
    /* padding: 0; */
    line-height: 1.5;
    position: absolute;
    display: grid;
    justify-items: center;
    top: calc(100% + 25px);
    left: 50%;
    transform: translateX(-50%);
}

img{
    height: 350px;
    width: 320px;
    position: relative;
    top: 50px;
    /* display: grid; */
    padding: 20px;
    /* padding-bottom: 50px; */
    border-radius: 50px;
}

#discription>h1{
    font-size: x-large;
    font-weight: bolder;
     color: rgb(196, 232, 146);

}

#img4,#img5,#img6{
    position: relative;
    top:100px ;
}

#img1,#img3,#img4{
    filter: contrast(9.9);
    filter: grayscale(1);
    filter: saturate(-20);
}


#discription>h1:nth-child(1){
    position: relative;
    top: -300px;
    left: -340px;
}

#discription>h1:nth-child(2){
    position: relative;
    top: -330px;
    left: 3px;
}

#discription>h1:nth-child(3){
    position: relative;
    top: -350px;
    left: 320px;
}
#discription>h1:nth-child(4){
    position: relative;
    top: 10px;
    left: -340px;
}
#discription>h1:nth-child(5){
    position: relative;
    top: -15px;
    left: 3px;
}
#discription>h1:nth-child(6){
    position: relative;
    top: -40px;
    left: 320px;
}

/* new section */

.bottom{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    z-index: 50;
    position: relative;
    margin-top: 150px;
    margin-bottom: 50px; 
}



.bottom {
    position: relative;
    top: -50px;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.card1{
    background-color: #1a1a1a;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    top: 50px;
    left: -25px;
    width: 310px;
    height: 320px;
}
.card1 h3{
    color: white;
    position: relative;
    top: -18rem;
    left: 100px;
}
.card1 p{
    color: rgb(240, 239, 214);
    width: 250px;
    font-size: 10px;
    line-height: 1.5;
    justify-content:center ;
    position: relative;
    top: -15rem;
    left: 200px;
}

#p1>p{
    height: 0px;
    width: 150px;
    display: flex;
    transform-box: content-box;
    align-items: center;
    text-align: left;
    justify-content: flex-start;

}

#p2{
    height: 0px;
    width: 150px;
    display: flex;
    transform-box: content-box;
    align-items: center;
    text-align: justify-right;
    justify-content: flex-start;
}



#act1{
    filter:grayscale(0.9);
    filter: contrast(-1.5);
    height: 300px;
    width: 300px;
    position: relative;
    top: 20px;
    left: -110px;
}

#act2{
    filter:grayscale(0.9);
    filter: contrast(-1.5);
    height: 300px;
    width: 280px;
    position: relative;
    top: 20px;
    left: 75px;
}


.card2{
    background-color: #1a1a1a;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    top: 150px;
    left: 25px;
    width: 310px;
    height: 320px;
}
.card2 h2{
    color: white;
    position: relative;
    top: -18rem;
    left: 15px;
}
.card2 p{
    color: rgb(240, 239, 214);
    width: 250px;
    font-size: 10px;
    line-height: 1.5;
    justify-content:center ;
    position: relative;
    top: -15rem;
    left: 90px;
}

button{
    padding: 6px 14px;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to top right, rgb(172, 254, 85), rgb(183, 220, 60));
    color: rgb(10, 10, 10);
    font-size: 14px;
    font-weight: bold;
    box-shadow: 2px 2px 5px 1px  rgb(216, 254, 0);
}
button:hover{
    cursor: pointer;
    background-image: linear-gradient(to top right, rgb(183, 220, 60), rgb(172, 254, 85));
    box-shadow: 3px 3px 7px 2px  rgb(216, 254, 0);
}
#b1{
    width: 104px;
    position: relative;
    top: -20rem;
    left: 130px;
}

#b2{
    width: 104px;
    position: relative;
    top: -20rem;
    left: 20px;
}

#l1{
    height: 160px;
    width: 160px;
    position: relative;
    top: -158px;
    left: -157px;
}

#l2{
    height: 160px;
    width: 160px;
    position: relative;
    top: -148px;
    left: 55px;
}

footer{
    position: relative;
    top: 250px;
    box-shadow: 0 -4px 30px rgba(180, 173, 173, 0.4);
}

.footer-tagline{
    position: relative;
    top: -10px;
    left: 155px;
}



#l01{
    position: relative;
    top: 0px;
    height: 40px;
    width: 40px;
    color: yellowgreen;
    border: 2px solid yellowgreen;
}
.footer-bottom{
    z-index: 20;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.footer-right{
    display: flex;
    flex-direction: column;
    gap: 15px;
}   
.footer-right p{
    position: relative;
    top: 10px; 
    left: 50px;
}

.footer-nav a{
    position: relative;
    top: 10px;
}

