*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    /* background: radial-gradient(circle at center, gray 0%, black 70%); */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    position: relative;
    z-index: 10;
}
.nav-list{
    word-spacing: 50px;
    display:flex;
    justify-content: center;
    gap: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    margin-left: 180px;
}

a:link{
    color: white;

}
a:visited{
    color: rgb(146, 250, 125);
}

.nav-list a{
    text-decoration: none;
}



#logo{
    height: 60px;
    width: 70px;
}

h1{
    display: flex;
    justify-content: flex-start;
    font-variant: small-caps;
    font-size: large;
    /* border: 2px solid; */
    margin-left: 10px;
    display: inline;
    margin-left:50px;
    position: absolute;
    color: rgb(173, 255, 80);
}

/* Override h1 for c1 and c2 to position text over image */
/* #c1, #c2 {
    margin-left: -650px !important;
    color: white;
    z-index: 50;
} */

.hbutton{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 50px;
}

#bt1{
    padding: 6px 14px;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to top right, rgb(172, 254, 85), rgb(183, 220, 60));
    color: rgb(10, 10, 10);
    font-size: 14px;
    font-weight: bold;
    box-shadow: 2px 2px 5px 1px  rgb(216, 254, 0);
}
#bt2{
    padding: 6px 14px;
    border-radius: 20px;
    border: none;
    background-color: rgb(6, 6, 6);
    color: rgb(222, 185, 40);
    font-size: 14px;
    font-weight: bold;
    box-shadow: 2px 2px 5px 1px  rgb(212, 136, 15);
}
#bt3{
    padding: 6px 14px;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to top right, rgb(172, 254, 85), rgb(183, 220, 60));
    color: rgb(23, 22, 19);
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    margin-top: 550px;
    margin-left: -160px;
    height: 40px;
    /* box-shadow: 2px 2px 5px 1px  rgb(233, 99, 15); */
}




body {
  height: 100%;
  background-color: rgb(14, 13, 13);
  background: radial-gradient(circle at top, gray -10%, black 50%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*
#img3{
    height: 500px;
    width: 800px;
    z-index: 100;
    margin-left: 180px;
    margin-top: 13px;
    
}*/

#c1{
    word-spacing: 25px;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 50;
    position: absolute;
    margin-left: 200px;
   margin-top: 20px;
   color: rgb(194, 249, 135);
     
   
}
#c2{
    font-size: 65px;
    word-spacing: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 50;
    position: absolute;
    margin-left: 155px;
   margin-top: 80px;
   color: rgb(194, 249, 135);
  
}

#c3,#c4{
    opacity: 0.4;
    color: rgb(238, 252, 187);

}


/* a{
    color:white;
    z-index: 150px;
    position:sticky;
    margin-top: 100px;
    margin-left: 0;
} */


footer{
    position: relative;
    top: 100px;
    box-shadow: 0 -4px 30px rgba(180, 173, 173, 0.4);
}