*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    background-color: black;
}

.servicehead{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    z-index: 50;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px; 
}
div h1{
    color: white;
    font-size: 50px;
    margin: 0;
    padding: 0;
    line-height: 1.0;
}
div>h1:nth-child(2){
    word-spacing: 15px;
    font-variant: small-caps;
    color: rgb(230, 255, 194);

}

div p{
    color: rgb(240, 239, 214);
    width: 500px;
    font-size: 15px;
    /* padding: 0; */
    line-height: 1.5;
    position: absolute;
    display: grid;
    justify-items: center;
    top: calc(100% + 25px);
    left: 50%;
    transform: translateX(-50%);
}

/* box animation */

.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 50px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    min-width: 250px;
    height: 150px;
    margin: 20px;
    background: #222;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    animation: float 3s infinite ease-in-out;
}

/* Floating animation */
@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

/* Bottom dots */
.dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 5px;
    background: #777;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
} 

.dot.active {
    background: #a4ff00;
}


/* .card:hover{
    animation: none;
    transform: scale(1.5);
} */




p1,p2,p3,p4,p5{
    color: white;
    display: grid;
    align-items: center;
    grid-template-columns: 180px;
    font-size: 0.9rem;
    position: absolute;
    top: 48px;

}

/* p1{
    position: relative;
    left:80px;
    top:70px
} */

div>h5{
     word-spacing: 5px;
    font-size: large;
    font-weight: bolder;
    position: absolute;
    top: 12px;
    left: 60px;
}

.card:hover{
    background-color: #4e563f;
}

button{
    width: 80px;
    height: 30px;
    border-radius:100px;
}

#bt1{
     border: 1px solid greenyellow;
    position: absolute;
    left: 150px;
    top: 110px;
    border-radius: 20px;
    background-image: linear-gradient(to top right, rgb(172, 254, 85), rgb(183, 220, 60));
    cursor: pointer;
}
#bt2{
     border: 1px solid greenyellow;
    position: absolute;
    left: 150px;
    top: 110px;
    border-radius: 20px;
    background-image: linear-gradient(to top right, rgb(172, 254, 85), rgb(183, 220, 60));
    cursor: pointer;
}
#bt3{
     border: 1px solid greenyellow;
    position: absolute;
    left: 155px;
    top: 113px;
    border-radius: 20px;
    background-image: linear-gradient(to top right, rgb(172, 254, 85), rgb(183, 220, 60));
    cursor: pointer;
}
#bt4{
    border: 1px solid greenyellow;
    position: absolute;
    left: 150px;
    top: 110px;
    border-radius: 20px;
    background-image: linear-gradient(to top right, rgb(172, 254, 85), rgb(183, 220, 60));
    cursor: pointer;
}


#b1{
    height: 35px;
    width: 35px;
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 80px;
    z-index: -1;
    position: absolute;
    top: 5px;
    left: 19px;
}

i{
    color: #a4ff00;
    z-index: 151;
    position: absolute;
    /* top: -7px;
    left: -11px; */
    left: -35px;
    top: 2px;
    
}

.slider{
    display: flex;
    justify-content: center;
    
}



/* Responsive Design */
/* 
@media (max-width: 1024px) {
  div p {
    width: 80%;
    margin: 10px auto;
  }

  .card {
    min-width: 200px;
    height: 140px;
  }

  div>h5 {
    left: 40px;
    font-size: medium;
  }

  button {
    width: 70px;
  }

  #bt1, #bt2, #bt3, #bt4 {
    left: 130px;
  }
}

@media (max-width: 768px) {
  div h1 {
    font-size: 40px;
  }

  div p {
    font-size: 14px;
  }

  .card {
    min-width: 90%;
    margin: 10px;
  }

  div>h5 {
    left: 20px;
    font-size: small;
  }

  p1, p2, p3, p4, p5 {
    font-size: 0.8rem;
    grid-template-columns: 150px;
  }

  button {
    width: 60px;
    height: 25px;
  }

  #bt1, #bt2, #bt3, #bt4 {
    left: 100px;
    top: 90px;
  }

  #b1 {
    height: 30px;
    width: 30px;
    top: 3px;
    left: 15px;
  }

  i {
    left: -30px;
    top: 1px;
  }
} */

.footer-tagline{
    color: white;
    font-size: 20px;
    position: relative;
    top: 20px;
    text-align: center;
}

.footer-right{
    color: white;
    font-size: 15px;
    display: grid;
    justify-items: center;
    position: relative;
    left: -50px;
    text-align: center;
}

.footer-right h4
  {
    position: relative;
    top: 0px;
    left: -25px;
  }

  .footer-right p
  {
    position: relative;
    top: 0px;
  
  }
  
  .footer-nav{
    position: relative;
    top: 50px;
    left: 0px;
  }

  .footer-left p{
    position: relative;
    top: -10px;
    left: 160px;
  }

  .footer-bottom p{
    position: relative;
    
  }
  